.pagination__item a, .pagination__item--current{
  box-sizing: border-box;
  display: block;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  background: #a57805;
  border: 1px solid #655141;
  min-width: 3em;
  transition: all .2s;
  margin: 0 1px 0 0;
  padding: calc(1em - 1px) 1em;
}

.pagination__item a:hover, .pagination__item--current:hover{
  color: #655141;
  background: #FFF;
  border: 1px solid #655141;
}

.pagination {
  position: relative;
  display: flex;
  justify-content: center;
  color: #A4A4A4;
  line-height: 1;
  margin: 0;
  padding: 2em 0;
}

.pagination__list {
  display: none;
}

.pagination__pos {
  position: absolute;
  top: -.5em;
  left: 50%;
  transform: translate(-50%, 0);
  color: #655141;
}

.pagination__btn--prev {
  order: 2;
}

.pagination__btn--next {
  order: 4;
}

.pagination__btn--first {
  order: 1;
}

.pagination__btn--last {
  order: 5;
}

@media (min-width: 520px) {
  .pagination__list {
    order: 3;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .pagination__item {
    margin: 0;
  }
  .pagination__item--current {
    background: #FFF;
    color: #f70000;
    font-weight: bold;
    border: 1px solid #655141;
    margin: 0 1px 0 0;
  }
  .pagination__pos {
    display: none;
  }
}