/* indexの見出しのcss */
.book_title{
	position: relative;
	background: #a57805;
	box-shadow: 0px 0px 0px 5px #a57805;
	border: dashed 2px white;
	padding: 0.2em 0.5em;
	color: #fff;
	text-align: center;
	margin-top: 50px;
}
.book_title:after {
	position: absolute;
	content: '';
	left: -7px;
	top: -7px;
	border-width: 0 0 15px 15px;
	border-style: solid;
	border-color: #fff #fff #f0c89c;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  }
/* indexの見出しのcss */

/* テーブルCSS  */


.tbl-r05{
	table-layout: fixed;
}
th {
	background: #a57805;
	border: solid 1px #ccc;
	color: #fff;
	padding: 10px;
}

td {
	border: solid 1px #ccc;
	padding: 10px;

	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.title{
	font-size: 15px;
	width: 750px;
	white-space: nowrap;  
	overflow: hidden;  
	text-overflow: ellipsis;  
	-webkit-text-overflow: ellipsis;  
	-o-text-overflow: ellipsis; 
}
.title a{
	color:black;
}
.title a:hover{
	color : hsl(245, 82%, 43%);
  }

.creator a{
	color:black;
}
.creator a:hover{
	color : hsl(245, 82%, 43%);
  }

.creator{
	font-size: 15px;
	width: 400px;
	white-space: nowrap;  
	overflow: hidden;  
	text-overflow: ellipsis;  
	-webkit-text-overflow: ellipsis;  
	-o-text-overflow: ellipsis; 
}

/* 画像をHoverすると */
