<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/ress.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
        <title>{% block title %}{% endblock title %}</title>
    </head>
    <body>
        <div class="wrapper">
            <!-- header -->
            <header class="header ">
              <div class="container">
                  <h1 class="header-logo">
                      <a href="/index">TOSHIHIRO MASUI</a>
                  </h1>
                  <nav class="gnav">
                    <ul class="gnav-list">
                      <!-- <li class="gnav-item"><a href="/camera" role="button">カメラで登録</a></li> -->
                      <li class="gnav-item"><a href="/isbn" role="button">ISBN登録画面</a></li>
                      <li class="gnav-item"><a href="/create" role="button">新規登録画面</a></li>
                      <li class="gnav-item"><a href="/logout" role="button">ログアウト</a></li>
                      <form action="/index" method="post">
                        <input id="search" type="text" placeholder="本のタイトル" name="search">
                        <input class="btn" type="submit" value="検  索">
                      </form>
                    </ul>
                  </nav>
              </div>
          </header>
          <!-- /header -->
            {% block content%}{% endblock %}
            <!-- /contact -->
            <div class="page-top" id="js-page-top">
                <span class="material-icons-outlined">expand_less</span>
            </div>
    

            <!-- footer -->
            <footer class="footer">
            <div class="copyright">&copy;TOSHIHIRO MASUI</div>
            </footer>
            <!-- /footer -->


        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type='text/javascript' src="js/script.js"></script>
    </body>
</html>