<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pagenation.css') }}">
</head>
{% extends "base.html" %}

{% block title %}蔵書管理{% endblock title %}

{% block content %}

<main class="content">
  <!-- <form method="post">
    <button type="submit" name="sort" value="desc">降順</button>
    <button type="submit" name="sort" value="asc">昇順</button>
  </form> -->


  <div class="mv">
    <table>
      <thead>
        <tr><th scope="" style="width: 70%;"><h2 style="background-color: #FFBC61;">タイトル</h2></th>
          <th spe="" style="width: 30%;"><h2 style="background-color: #FFBC61;">著者</h2></th>
        </tr>
      </thead>
      <tbody>
        {% for book in books.items %}
          <tr>
            <td><h3>{{ book.title }}</h3></td>
            <td><h3>{{ book.creator }}</h3></td>
            <td class="delete"><h3><a href="/{{book.id}}/delete" role=" = button">削除</a></h3></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="pager">
    <ul class="pagination">
       {% for page in books.iter_pages() %}
        {% if page %}
          {% if page != books.page %}
              <li><a  href="{{ url_for('index_pages', page_num=page) }}"><span>{{ page }}</span></a></li>
          {% else %}
              <li class=" active"><a><span>{{ page }}</span></a></li>
          {% endif %}
        {% else %}
          <span> ... </span>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</main>

{% endblock %}
