<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
</head>
{% extends "base.html" %}

{% block title %}蔵書管理{% endblock title %}

{% block content %}

<main class="content">
  <!-- <form method="post">
    <button type="submit" name="sort" value="desc">降順</button>
    <button type="submit" name="sort" value="asc">昇順</button>
  </form> -->


  <div class="mv">
    <table>
      <thead>
        <tr>
          <th scope="">タイトル</th>
          <th scope="">著者</th>

        </tr>
      </thead>
      <tbody>
        {% for book in books %}
          <tr>
            <td><h3>{{ book.title }}</h3></td>
            <td><h3>{{ book.creator }}</h3></td>
            <td><h3><a href="/{{book.id}}/delete" role=" = button">削除</a></h3></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>

{% endblock %}
