{% extends "base.html" %}
{% block title %}ISBNで登録{% endblock title %} 
{% block content%}

<main class="content">
  <div class="mv">
    <div id="form">
			<p class="form-title">ISBNで登録</p>
			<h3>本の裏にある978から始まる13桁の数字を入力してください。本が登録されます。</h3>
			<form method="POST">
				<p>ISBN</p>
				<p class="username">
					<input type="number" name="isbn" pattern="^[0-9]+$" maxlength="13" />
				</p>
				
				<p class="submit">
					<input type="submit" value="登録" />
				</p>
			</form>
		</div>


  </div>
</main>

{% endblock %}