{% extends "sign_login.html" %}

{% block title %}新規アカウント{% endblock title %}
{% block content%}
<div class="mv">
	<div id="form">
		<p class="form-title">新規登録</p>
		<form method="POST">
			<p>Username</p>
			<p class="username">
				<input type="text" name="username" placeholder="ユーザー名" required="" autofocus=""/>
			</p>
			<p>Password</p>
			<p class="pass">
				<input type="password" name="password" placeholder="パスワード" required="" />
			</p>
			
			<p class="submit">
				<input type="submit" value="signup" />
			</p>
		</form>
	</div>
</div>
{% endblock %}